<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
   </head>
  <body>
        <% include ../partials/header %>
    <div class="container">
       <fieldset>       
        
        <form action="/" method="post">
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" name="firstName" required>
          </div>
          <div class="form-group">
            <label for="secondName">Last Name:</label>
            <input type="text" class="form-control" id="secondName" name="lastName" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="number" class="form-control" id="phone" name="Phone" required>
          </div>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="name@example.com" name="emailAddress" required>
          </div>
          
          <div class="form-group">
            <label for="email">Date of Birth:</label>
            <input type="date" class="form-control" id="dateOfBirth"  name="dateOfBirth" required>
          </div>
          
          <div class="form-group">
            <label for="email">Address 1:</label>
            <input type="text" class="form-control" id="address1" name="address1" required>
          </div>
          <div class="form-group">
            <label for="email">Address 2:</label>
            <input type="text" class="form-control" id="address2"  name="address2" required>
          </div>
          <div class="form-group">
            <label for="email">City:</label>
            <input type="text" class="form-control" id="City" placeholder="name@example.com" name="City" required>
          </div>
          <div class="form-group">
            <label for="email">Zipcode:</label>
            <input type="number" class="form-control" id="Zipcode" placeholder="name@example.com" name="Zipcode" required>
          </div>
          <div class="form-group">
            <label for="email">State:</label>
            <input type="text" class="form-control" id="State" placeholder="name@example.com" name="State" required>
          </div>
          <div class="form-group">
            <label for="email">Country:</label>
            <input type="text" class="form-control" id="Country" placeholder="name@example.com" name="Country" required>
          </div>
          
          <div class="form-group">
              <label for="phoneType">Mobile Phone Brand</label>
              <select class="form-control" id="phoneType" required name="phoneType">
                <option>Select</option>
                <option value="Apple">Apple</option>
                <option value="Samsung">Samsung</option>
                <option value="other">Other</option>
                
              </select>
            </div>
          <div class="form-group">
            <label for="insuranceType">Insurance Plan</label>
            <select class="form-control" id="insuranceType" name="insuranceType">
              <option>Select</option>
              <option value="Full">Full</option>
              <option value="Spares">Spares</option>
              <option value="Damage/Broken phone">Damage/Broken phone</option>
              <option value="Used phone">Used phone</option>
              <option value="Extended Warranty">Extended Warranty</option>
              <option value="Multi Device Protection Pack">Multi Device Protection Pack</option>
              <option value="Mobile Protection Pack">Mobile Protection Pack</option>

            </select>
          </div>
          
          <div class="form-group">
            <label for="insuranceType">cellPhoneCarrier</label>
            <select class="form-control" id="cellPhoneCarrier" name="cellPhoneCarrier">
              <option>Select</option>
              <option value="Full">AT&T</option>
              <option value="Spares">Sprint</option>
              <option value="Spares">Others</option>              
            </select>
          </div>
          <div class="form-group">
              <label for="mobilePhoneModel">Mobile Phone Model:</label>
              <input type="text" class="form-control" id="mobilePhoneModel" name="mobilePhoneModel" placeholder="Mobile Phone Model" required>
            </div>
            <div class="form-group">
                <label for="IMEI">IMEI Number:</label>
                <input type="number" class="form-control" id="IMEI" name="IMEI"  placeholder="IMEI Number" required>
              </div>
          
          
          <button type="submit" class="btn btn-primary">Buy Insurance</button>
        </form>
      </fieldset>
    </div>
  </body>
</html>