<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
   </head>
  <body>
        
    <% include ../partials/header %>
    <div class="container">
    <h1>Retrieve insurance</h1>
    </div>
    </body>
  </html>