<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mobile Insurance</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
<% include ../partials/head %>
  </head>
  <body>
      <% include ../partials/header %>
    <div class="container">
       Welcome     
        
        
    </div>
    <% include ../partials/footer %>
  </body>
</html>