<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mobile Insurance</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://www.asurion.com/wp-content/cache/optimized/css/optimized_80833ac07908e5cff4e3c168cc48b897.css">
<% include ../partials/head %>
  </head>
  <body>
      <% include ../partials/header %>
    <div class="container">
       <h2 style="text-align: center;">Welcome to Mobile Insurance</h2>     
        <article id="post-3786" class="post-3786 page type-page status-publish has-post-thumbnail hentry entry">
           <div class="entry-content">  <h2 style="text-align:center"> 
            Protect your phone from loss, theft and more with a smartphone insurance plan</h2> 
            <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div> 
            <div class="wp-block-columns has-3-columns has-undefined-columns has-undefined-columns"> 
              <div class="wp-block-column"> <h3 style="text-align:center">Saves you money</h3> 
                <div class="wp-block-image"><figure class="aligncenter">
                  <img src="https://contents.asurion.com/wp-content/uploads/2019/02/Mobile_2_iStock_000058688206_Double.jpg" alt="" class="wp-image-7566" srcset="https://contents.asurion.com/wp-content/uploads/2019/02/Mobile_2_iStock_000058688206_Double.jpg 600w, https://contents.asurion.com/wp-content/uploads/2019/02/Mobile_2_iStock_000058688206_Double-300x250.jpg 300w" sizes="(max-width: 600px) 100vw, 600px"></figure></div> <p style="text-align:center">Avoid paying full retail cost for a replacement phone&nbsp;if the unexpected occurs. </p> </div> <div class="wp-block-column"> 
                    <h3 style="text-align:center">Next-day phone replacement</h3> <div class="wp-block-image"><figure class="aligncenter"><img src="https://contents.asurion.com/wp-content/uploads/2019/02/Mobile_3_DeliveryiStock_000066658689_Double.jpg" alt="" class="wp-image-7568" srcset="https://contents.asurion.com/wp-content/uploads/2019/02/Mobile_3_DeliveryiStock_000066658689_Double.jpg 600w, https://contents.asurion.com/wp-content/uploads/2019/02/Mobile_3_DeliveryiStock_000066658689_Double-300x250.jpg 300w" sizes="(max-width: 600px) 100vw, 600px"></figure></div> <p style="text-align:center">Receive a replacement cell phone&nbsp;in as little as 24 hours. </p> </div> <div class="wp-block-column"> <h3 style="text-align:center">Full insurance coverage</h3> <div class="wp-block-image"><figure class="aligncenter"><img src="https://contents.asurion.com/wp-content/uploads/2019/02/Mobile_4_Runner_iStock_000072367347_Double.jpg" alt="" class="wp-image-7569" srcset="https://contents.asurion.com/wp-content/uploads/2019/02/Mobile_4_Runner_iStock_000072367347_Double.jpg 600w, https://contents.asurion.com/wp-content/uploads/2019/02/Mobile_4_Runner_iStock_000072367347_Double-300x250.jpg 300w" sizes="(max-width: 600px) 100vw, 600px"></figure></div> <p style="text-align:center">
                       Coverage for loss, theft, damage, liquid damage and defects after the manufacturer’s warranty ends. </p>
                       </div> </div> 
                       <div class="wp-block-button aligncenter btn450 is-style-asurion-light-blue btn450 is-style-asurion-light-blue"><a class="wp-block-button__link" href="/buyinsurance">Explore Phone Insurance Features </a></div> 
           <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div> 
            </div> </div> </article>
        
    </div>
    <% include ../partials/footer %>
  </body>
</html>